/* CreateQuantablePage.css */
.create-quantable-container {
  text-align: center;
  padding: 20px;
  border: 2px solid #E0E0E0;
  border-radius: 10px;
  background-color: #000;
  color: #E0E0E0;
  max-width: 500px;
  margin: 2rem auto;
  position: relative;
}

.create-quantable-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

/*.create-quantable-form {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/

.create-quantable-select,
.create-quantable-default-unit,
.create-quantable-textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  background-color: #222;
  color: #E0E0E0;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.create-quantable-form .create-quantable-default-unit {
  width: 100% !important;
  max-width: 400px !important;
  box-sizing: border-box !important;
  margin-bottom: 20px !important;
  padding: 10px !important;
  border-radius: 5px !important;
  border: 1px solid #E0E0E0 !important;
  background-color: #222 !important;
  color: #E0E0E0 !important;
}

.create-quantable-textarea {
  height: 100px;
  resize: vertical;
}

.create-quantable-submit-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #E0E0E0;
  border: 2px solid #E0E0E0;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
  width: 50%;
}

.create-quantable-submit-button:hover {
  background-color: #E0E0E0;
  color: #000;
  border-color: transparent;
}

.create-quantable-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.create-quantable-form input[type="checkbox"] {
  margin-right: 10px;
}

.create-quantable-form .error-message {
  color: red;
  margin-top: 10px;
}

.alternative-units-hint {
  margin-bottom: 10px;
  font-style: italic;
  color: #888;
}

.alternative-units-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.alternative-units-list div {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .create-quantable-select,
  .create-quantable-default-unit,
  .create-quantable-textarea,
  .create-quantable-submit-button {
    width: 90% !important;
  }
}