/* src/components/Quantable/QuantableListPage.css */
.page-title-l {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
}

.quantable-list-container {
    padding: 20px;
    border: var(--border-solid-e0);
    border-radius: var(--border-radius-10);
    background-color: var(--color-background);
    color: var(--color-text);
    max-width: 960px;
    margin: 40px auto;
}

.quantable-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: var(--border-solid-e0);
    border-radius: var(--border-radius-10);
    background-color: var(--color-background);
    color: var(--color-text);
    margin-bottom: 20px;
}

.quantable-content,
.quantable-pair-content {
    flex: 1;
    margin-right: 40px; /* Increased the margin-right to create more space */
}

.quantable-item h3 {
    color: #E0E0E0;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.quantable-item h3:hover {
    color: #FFF;
}

.quantable-item p {
    margin: 5px 0 15px; /* Added margin-bottom to create space between creator and button */
}

.sort-selector {
    margin-bottom: 20px;
}

.sort-selector label,
.sort-selector select {
    color: var(--color-text);
    font-size: 1rem;
}

.sort-selector select {
    padding: 5px 10px;
    border-radius: var(--border-radius-10);
    background-color: var(--color-background-lighter);
    border: 1px solid var(--color-border);
    color: var(--color-text);
    cursor: pointer;
}

.density-plot-container,
.density-plot-pair-container {
    flex: 1;
    margin-left: auto; /* Added margin-left: auto to push the chart to the right */
}

@media (max-width: 768px) {
    .quantable-item {
        flex-direction: column;
    }

    .quantable-content,
    .quantable-pair-content {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .sort-selector {
        position: static;
        margin: 10px auto;
        display: block;
    }

    .quantable-list-container {
        width: 90%;
        margin: 20px auto;
    }
}