.discussions-list-container {
  padding: 20px;
  border: var(--border-solid-e0);
  border-radius: var(--border-radius-10);
  background-color: var(--color-background);
  color: var(--color-text);
  max-width: 960px;
  margin: 40px auto;
}

.discussion {
  display: grid;
  grid-template-columns: 3fr 2fr; /* Match the layout from the detail page */
  gap: 20px;
  padding: 20px;
  border: var(--border-solid-e0);
  border-radius: var(--border-radius-10);
  background-color: var(--color-background);
  color: var(--color-text);
  margin-bottom: 20px; /* Space between discussion entries */
}

.discussion-content {
  border-right: 2px solid #333; /* Visual divider, similar to the detail page */
  padding-right: 20px;
}

.discussion h3, .link {
  color: #E0E0E0;
  text-decoration: none; /* Removes underlining from links */
  cursor: pointer;
  transition: color 0.3s;
}

.discussion h3:hover, .link:hover {
  color: #FFF; /* Ensure hover effect is visible */
}

.discussion p {
  margin: 5px 0;
}

.sort-selector label, .sort-selector select {
  color: var(--color-text); /* Adjust as per your theme */
  font-size: 1rem; /* Adjust as needed */
}

/* Adjustments to select dropdown to match the site's style */
.sort-selector select {
  padding: 5px 10px;
  border-radius: var(--border-radius-10);
  background-color: var(--color-background-lighter);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  cursor: pointer;
}

@media (max-width: 768px) {
  .discussion {
    grid-template-columns: 1fr; /* Stack components on smaller screens */
    }
  .sort-selector {
    position: static; /* Adjust for mobile responsiveness */
    margin: 10px auto;
    display: block; /* Adjust as per your mobile design */
  }
  .discussions-list-container {
    width: 90%;
    margin: 20px auto;
  }
  .discussion-content, .pie-chart-container {
    border: none;
    padding-right: 0;
  }
}


