/*src/components/AuthenTech/RegistrationModalFour.css*/

.modalContainerFour {
  text-align: center;
  padding: 20px;
  border: 2px solid #E0E0E0;
  border-radius: 10px;
  background-color: #000;
  color: #E0E0E0;
  max-width: 500px;
  margin: auto;
  margin-top: 20vh;
  position: relative;
}

.headingFour {
  font-size: 2rem;
  margin-bottom: 20px;
}

.paragraphFour {
  margin-bottom: 20px;
}

.errorFour {
  color: #ff6666;
  margin-bottom: 10px;
}

/*.buttonFour {*/
/*  padding: 10px 20px;*/
/*  background-color: transparent;*/
/*  color: #E0E0E0;*/
/*  border: 2px solid #E0E0E0;*/
/*  border-radius: 25px;*/
/*  font-size: 1rem;*/
/*  font-weight: 500;*/
/*  transition: background-color 0.3s, color 0.3s, border-color 0.3s;*/
/*  cursor: pointer;*/
/*}*/

/*.buttonFour:hover {*/
/*  background-color: #E0E0E0;*/
/*  color: #000;*/
/*  border-color: transparent;*/
/*}*/

.modal-button {
  width: 50%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the button */
}

.step-indicator {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 0.8rem;
  color: #E0E0E0;
}

.logoSmall {
  max-width: 100px; /* Adjust the size as needed */
  margin-bottom: 20px; /* Spacing below the logo */
}

@media (max-width: 768px) {
  .buttonFour {
    width: 90%;
  }
}
