/* src/components/AuthenTech/WelcomePage.css */

.welcome-page {
  text-align: center;
  padding: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 20vw;
  margin-bottom: 20px;
}

.statement-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 50px;
  overflow: hidden;
  margin-bottom: -40px;
}

.fixed-text {
  font-size: 24px;
  margin-right: 10px;
}

.scrolling-options {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  vertical-align: top;
  line-height: 1.2;
}

.scrolling-options span {
  display: block;
  font-size: 24px;
  padding: 7px 0;
  animation: scroll 10s infinite;
}

@keyframes scroll {
  0%, 16.66% {
    transform: translateY(0);
  }
  16.67%, 33.33% {
    transform: translateY(-100%);
  }
  33.34%, 50% {
    transform: translateY(-200%);
  }
  50.01%, 66.66% {
    transform: translateY(-300%);
  }
  66.67%, 83.33% {
    transform: translateY(-400%);
  }
  83.34%, 100% {
    transform: translateY(-500%);
  }
}

.paragraph-container {
  text-align: center;
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.paragraph-container ul {
  list-style-type: none;
  padding-left: 0px;
}

.paragraph-container li {
  margin-bottom: 20px;
  font-size: 1.2vw;
}

.auth-options {
  display: flex;
  justify-content: center;
}

.auth-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 10px 20px;
  min-width: 120px;
  background-color: transparent;
  color: #E0E0E0;
  text-decoration: none;
  border: 2px solid #E0E0E0;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.auth-link:hover {
  background-color: #E0E0E0;
  color: #000;
  border-color: transparent;
  text-decoration: none;
}

@media (max-width: 768px) {
  .auth-link {
    font-size: 0.9rem;
    min-width: 100px;
  }
}